/* Genel stil ayarları */
form {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: cornflowerblue;
  }
  
  /* Form elementlerinin margin ve padding ayarları */
  .form-label {
    font-weight: bold;
    margin-bottom: 5px;
    -webkit-text-fill-color: black;
  }

  .form-check-label {
    font-weight: bold;
    -webkit-text-fill-color: black;
  }
  
  .form-control,
  .form-select {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
  }
  
  .mb-3 {
    margin-bottom: 1rem !important;
  }
  
  /* Öğrenme Çıktıları ve Değerlendirme Tipleri alanları */
  .learning-outcome,
  .assessment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .learning-outcome label,
  .assessment label {
    flex: 1;
  }
  
  .learning-outcome input,
  .assessment input {
    flex: 2;
    margin-left: 10px;
  }
  
  /* Tablo için stil ayarları */
  .table-responsive {
    margin-top: 20px;
  }
  
  .table thead th {
    background-color: #007bff;
    color: #fff;
  }
  
  .table tbody td {
    vertical-align: middle;
  }
  
  .table tbody input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }
  
  /* Butonlar için stil ayarları */
  button.btn {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
  }
  
  button.btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  button.btn-primary:hover {
    background-color: #0056b3;
  }
  