<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control" required>
  </div>
  
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password" class="form-control" required>
  </div>
  
  <div class="form-group">
    <label for="role">Role</label>
    <select id="role" formControlName="role" class="form-control" required>
      <option value="">Select Role</option>
      <option value="faculty">Öğretim Üyesi</option>
      <option value="departmentHead">Bölüm Başkanı</option>
      <option value="müdekAuditor">MÜDEK Denetçisi</option>
      <option value="guest">Misafir</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Login</button>
</form>
