
<nav class="navbar navbar-expand-lg bg-danger ">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="login"><h5>Anasayfa</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="associate"><h5>Öğretim Üyesi</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="headOfDepartment"><h5>Bölüm Başkanı</h5></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="supervisor"><h5>Müdek Denetçisi</h5></a>
                </li>
               
            </ul>
        </div>
    </div>
</nav> 
