<!-- card.component.html -->
<div class="card mb-3">
    <div class="card-body">
      <h5 class="card-title">{{ course.courseName }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ course.courseCode }} - {{ course.courseCredit }} Kredi</h6>
      <p class="card-text"><strong>Okul Yılı:</strong> {{ course.courseYear }}</p>
      <p class="card-text"><strong>Okul Dönemi:</strong> {{ course.courseSemester }}</p>
      <p class="card-text"><strong>Ders Tanımı:</strong> {{ course.courseDescription }}</p>
      <p class="card-text"><strong>Öğrenme Çıktıları:</strong> {{ course.courseLearningOutcomes }}</p>
      <p class="card-text"><strong>Değerlendirme Yöntemleri:</strong> {{ course.courseAssessments }}</p>
      <p class="card-text"><strong>Dersin Hocası:</strong> {{ course.courseInstructor }}</p>
    </div>
  </div>
  