.container {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border: 2px solid #ff0000;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 12%;
  }
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #007bff;
  }
  p {
    font-size: 1.2rem;
    color: chocolate;
  }